## 정규화 선형회귀

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

# 한글포트 출력
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# 삼성전자, KOSPI 데이터 불러오기
stock_price = yf.download({'005930.KS','000660.KS','373220.KS','207940.KS','005380.KS',
                           '068270.KS','000270.KS','105560.KS','035420.KS','005490.KS','^KS11'}, '2023-01-01', '2023-12-31')

# 수정종가 데이터 가져오기
df = stock_price['Adj Close']
# 수익률 데이터로 변경하기
df = stock_price["Adj Close"].pct_change()*100
df = df.dropna()
# 편의를 위한 컬럼명 변경
df.columns  = ["삼성전자","SK하이닉스","LG에솔","삼성 바이오로직스","현대차"
               ,"셀트리온","기아","KB금융","NAVER","POSCO 홀딩스","코스피"]

c:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*************         27%%                      ]  3 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*****************     36%%                      ]  4 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************45%%                      ]  5 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************55%%                      ]  6 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************64%%*****                 ]  7 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************73%%*********             ]  8 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************82%%*************         ]  9 of 11 completedc:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  11 of 11 completed

### 1. 릿지회귀

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split


X = df.drop("코스피",axis=1)
y = df["코스피"]

# 훈련셋과 테스트셋으로 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# alpha 값 목록 정의
alpha_values = [0.01, 0.1, 1, 10, 100]

# 각 alpha 값에 대해 릿지 회귀 수행 및 계수 저장
coef_dict = {'Alpha': []}
for i in range(X.shape[1]):  # X의 열 개수만큼 계수를 저장할 컬럼 생성
    coef_dict[f'Feature_{i}'] = []

for alpha in alpha_values:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)
    coef_dict['Alpha'].append(alpha)
    for i, coef in enumerate(ridge.coef_):
        coef_dict[f'Feature_{i}'].append(coef)

# 데이터프레임으로 변환
coef_df = pd.DataFrame(coef_dict)
coef_df.columns  = ["Alpha",'삼성전자', 'SK하이닉스', 'LG에솔', '삼성 바이오로직스', '현대차', '셀트리온', '기아', 'KB금융',
       'NAVER', 'POSCO 홀딩스' ]
coef_df

,Alpha,삼성전자,SK하이닉스,LG에솔,삼성 바이오로직스,현대차,셀트리온,기아,KB금융,NAVER,POSCO 홀딩스
0,0.01,0.042635,0.048502,0.047229,0.060353,0.267103,0.061084,0.049124,0.081537,0.027545,0.120266
1,0.10,0.042642,0.048531,0.047223,0.060354,0.267007,0.061092,0.049129,0.081531,0.027543,0.120259
2,1.00,0.042715,0.048822,0.047167,0.060366,0.266055,0.061177,0.049172,0.081464,0.027519,0.120196
3,10.00,0.043349,0.051558,0.046683,0.060488,0.256975,0.061966,0.049566,0.080804,0.027318,0.119570
4,100.00,0.045344,0.067880,0.044471,0.061869,0.195544,0.066419,0.051213,0.075110,0.027057,0.113854

### 2) 라쏘회귀

In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split


X = df.drop("코스피",axis=1)
y = df["코스피"]

# 훈련셋과 테스트셋으로 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# alpha 값 목록 정의
alpha_values = [0.0001,0.001, 0.01, 0.1, 1, 10]

# 각 alpha 값에 대해 릿지 회귀 수행 및 계수 저장
coef_dict = {'Alpha': []}
for i in range(X.shape[1]):  # X의 열 개수만큼 계수를 저장할 컬럼 생성
    coef_dict[f'Feature_{i}'] = []

for alpha in alpha_values:
    ridge = Lasso(alpha=alpha)
    ridge.fit(X_train, y_train)
    coef_dict['Alpha'].append(alpha)
    for i, coef in enumerate(ridge.coef_):
        coef_dict[f'Feature_{i}'].append(coef)

# 데이터프레임으로 변환
coef_df = pd.DataFrame(coef_dict)
coef_df.columns  = ["Alpha",'삼성전자', 'SK하이닉스', 'LG에솔', '삼성 바이오로직스', '현대차', '셀트리온', '기아', 'KB금융',
       'NAVER', 'POSCO 홀딩스' ]
coef_df.set_index("Alpha")

,삼성전자,SK하이닉스,LG에솔,삼성 바이오로직스,현대차,셀트리온,기아,KB금융,NAVER,POSCO 홀딩스
Alpha,,,,,,,,,,
0.0001,0.042636,0.048510,0.047183,0.060348,0.267075,0.061082,0.049120,0.081525,0.027508,0.120269
0.0010,0.042660,0.048617,0.046762,0.060306,0.266727,0.061071,0.049086,0.081409,0.027169,0.120298
0.0100,0.043174,0.049793,0.042306,0.059891,0.263158,0.060972,0.048768,0.080228,0.023704,0.120563
0.1000,0.046092,0.059862,0.000386,0.056206,0.227725,0.059267,0.043323,0.068077,0.000000,0.122575
1.0000,0.000000,0.034313,0.000000,0.031195,0.000000,0.000000,0.000000,0.000000,0.000000,0.079444
10.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### 3. 엘라스틱 넷

In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split


X = df.drop("코스피",axis=1)
y = df["코스피"]

# 훈련셋과 테스트셋으로 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# alpha 값 목록 정의
alpha_values = [0.001, 0.01, 0.1, 1, 10]

# 각 alpha 값에 대해 릿지 회귀 수행 및 계수 저장
coef_dict = {'Alpha': []}
for i in range(X.shape[1]):  # X의 열 개수만큼 계수를 저장할 컬럼 생성
    coef_dict[f'Feature_{i}'] = []

for alpha in alpha_values:
    # 엘라스틱 넷 모델 생성 (alpha는 전체 규제 강도, l1_ratio는 L1과 L2 규제의 비율)
    elastic_net = ElasticNet(alpha=alpha, l1_ratio=0.5)
    elastic_net.fit(X_train, y_train)
    coef_dict['Alpha'].append(alpha)
    for i, coef in enumerate(elastic_net.coef_):
        coef_dict[f'Feature_{i}'].append(coef)

# 데이터프레임으로 변환
coef_df = pd.DataFrame(coef_dict)
coef_df.columns  = ["Alpha",'삼성전자', 'SK하이닉스', 'LG에솔', '삼성 바이오로직스', '현대차', '셀트리온', '기아', 'KB금융',
       'NAVER', 'POSCO 홀딩스' ]
coef_df.set_index("Alpha")

,삼성전자,SK하이닉스,LG에솔,삼성 바이오로직스,현대차,셀트리온,기아,KB금융,NAVER,POSCO 홀딩스
Alpha,,,,,,,,,,
0.001,0.042653,0.048589,0.046991,0.060330,0.266817,0.061086,0.049109,0.081466,0.027355,0.120275
0.010,0.042955,0.049450,0.044741,0.060135,0.264117,0.061116,0.048990,0.080811,0.025611,0.120346
0.100,0.044772,0.057475,0.024000,0.058287,0.238286,0.061184,0.047621,0.074266,0.008903,0.120895
1.000,0.000000,0.078566,0.000000,0.049114,0.052235,0.040031,0.000000,0.000177,0.000000,0.104584
10.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000